html, body{
    width: 100%;
    height: 100%;
    position: relative;
    
}
.navbar {
   width: 100%;
    margin: auto;
    background-color: black !important ;

    z-index: 99;
}
.navbar .container {
   
  margin:0px;
  width: fit-content;
}
.container.content{
    width: 70%;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: white;
    
}
.navbar-light .navbar-nav .nav-link {
    border: 1px solid ;
    border-radius: 10px;
    margin-right: 4px;
}

.navbar-light .navbar-nav a:hover {
    background-color: white;
    color: black;
}

.navbar-light .navbar-nav a:focus {
    background-color: white;
    color: black;
}
.navbar-toggler{
    background-color: white;
}

.carousel-inner{
    width: 80%;
    margin: auto;
}
.carousel-item img{
    width: 100%;
    height: 500px;
  
}
.card{
    padding: 1rem;
    border: none;
}
.container.content .card{
    padding: 2em;
    
    line-height: 1.5em; 
}

.col-2, .col-10, .col-3{

    min-height: 100px;
}
.container.list-product{
    width: 80%;
    
}
.list-product .product-item
{
    margin:0px;
    padding: 0px;
}
.list-product .product-item .avatar .image
{
   
    width: 100%;
    height: auto;
}
.list-product .product-item .avatar .overlay
{
    position: absolute;
    top: -10px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ;
    display: none;
}
.list-product .product-item div:hover.card .overlay{
    opacity: 1;
    display:block;
}


.list-product .product-item .card-body{
    text-align: center;
    padding-top: 2px;
    padding-bottom: 0px;
}
.list-product .product-item .card-title{
    font-size: 20px;
    margin-bottom: 0px;
  
}
.list-product .product-item .card-text{
    font-size: 12px;
    margin-bottom: 2px;
}
.list-product .product-item .card-price{
    font-size: 20px;
    color:#d9001b;
    margin-bottom: 0px;
    font-weight: bold;
}
.list-product .product-item .card-price-promotion .money{
   
    margin-bottom: 0px;
    text-decoration-line: line-through;
  
}
.container.content .row.promotion-area{
    margin: auto;
    width: fit-content;
  
}
.container.content .promotion{
    margin-bottom: 0px;
    text-decoration-line: line-through;
    font-size:15px;
    color: gray;
  
}
.container.content .discount{
    margin-bottom: 0px;
    font-size:13px;
    border: 1px solid red;
    color: red;
  
}
.card-body .card-price-promotion .card-price-promotion-by-percent{
   
    margin-bottom: 0px;
    color: red;
    font-weight: 500px;
}

.list-product .product-item div.card:hover{
   
}


.list-product .filter-content{
    margin-bottom: 0px;
}
.list-product .filter-content .filter-text{
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 18px;    
}

.container.shopping-cart{
    width: 80%;
   
   min-height: 80%;
        padding: 2em;
    padding-top: 30px;
    
    
}
.container.shopping-cart .cart{
    width: 60%;
    margin: auto;
    min-height: 350px;
}
.shopping-cart_title{
    font-size: larger;
    font-weight:600;
}
.shopping-cart_product-title
{
   
    font-size: 20px;
    font-weight: bold;
}
.shopping-cart_title .badge {
    

    border-radius: 50%;
    box-shadow: 1px 1px grey;
    background-color: #57a5ff;
    color: white;
  }
.row.shopping-cart_product .detail_product{

 padding-right: 0px;
}
.row.shopping-cart_product .detail_product .shopping-cart_product-price input{
   font-weight: bold;
   }
.shopping-cart_product .image_product img{
    height: auto; 
    width: 71px;
}
.shopping-cart hr{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
}
.shopping-cart .full{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
/* .shopping-cart .final_total{
    text-align: center;
} */
.shopping-cart .total{
    font-weight: bold;
    font-size: 25px;
   
}

.row.shopping-cart_product .quantity .form-group{
    width: 75%;
   margin: auto;
   }
.row.box-filter{
    margin-top: 0px !important;
    padding-left: 3px !important;
    padding-top: 5px !important;
    border: 1px solid;
    height: auto;
   
   box-sizing: border-box;
    display: none;
   
}
.row.box-filter .header-filter{
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}
.row.box-filter{
    font-size: 15px;
}
.row.box-filter  p{
    margin-bottom: 0px;
}

hr{
    
    border-top:  2px solid;
    width: 70%;
    margin-top:2px;
    margin-bottom: 10px;
}
.list-product .filter .row{
   padding-top: 1rem;
    padding-bottom: 5px;
    padding-left: 0px;
  
}
.content .product-title{
   
   box-sizing: border-box;
    font-size: 30px ;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 6px;
}
.container.content .product-price{
    font-size: 20px ;
    text-align: center;
}

.add-to-cart, .like {
    background: rgb(235, 10, 10);
    padding: 1.2em 1.5em;
    width:300px;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
    .add-to-cart:hover, .like:hover {
      background: #b36800;
      color: #fff; }

      .preview-thumbnail.nav-tabs {
        border: none;
        margin-top: 15px; }
        .preview-thumbnail.nav-tabs li {
          width: 18%;
          margin-right: 20%; }
          .preview-thumbnail.nav-tabs li img {
            max-width: 100%;
            display: block; }
          .preview-thumbnail.nav-tabs li a {
            padding: 0;
            margin: 0; }
          .preview-thumbnail.nav-tabs li:last-of-type {
            margin-right: 0; }
      
      .tab-content {
        overflow: hidden; }
        .tab-content img {
          width: 100%;
          -webkit-animation-name: opacity;
                  animation-name: opacity;
          -webkit-animation-duration: .3s;
                  animation-duration: .3s; }
.container-fluid.about{
    padding: 0px;
}  
footer.container {
    background-color: black;
    width: 100%;    
  
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100px;
    box-sizing: border-box;
    padding: 1.5rem;
  
   
}
footer .participants {
    margin-bottom: 1px;
}



@media only screen and (max-width: 1000px)
{
    .navbar .container{
        width: 100%;
      
    }
    .row.shopping-cart_product .image_product img{
        width: 100%;
        margin-bottom: 10px;
    }
    .row.shopping-cart_product .detail_product{
        margin-bottom: 10px;
    }

}
@media (max-width: 767px) {
    .navbar-light .navbar-nav .nav-link {

        margin-bottom: 10px;
        padding-left: 20px;
    }
    
    }

    @media only screen and (max-width: 576x)
    {
        .navbar .container{
            width: 100%;
          
        }
    
    }
    @media (min-width: 1200px)
    {
        .container{
        max-width: 100%;
        }
    }